@charset "utf-8";
/* CSS Document */

.strength_meter{
	height: 16px;
	width: 150px;
	overflow: hidden;	
}
.strength_meter div{
	margin: 0;
	padding: 0;
	height:16px;
	width:100%;
	text-align:center;
	color:black;
	font-weight:bold;
	font-size: 0.8em;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.veryweak{
background-color: #FFA0A0;
border-color: #F04040!important
}
.weak{
background-color: #FFB78C;
border-color: #FF853C!important;
}
.medium{
background-color: #FFEC8B;
border-color: #FC0!important;
}
.strong{
background-color: #C3FF88;
border-color: #8DFF1C!important;
}